
body, html{
    margin:0;
    padding:0;
}
body{
    font-family: 'Raleway', sans-serif;
}


/*HEADER*/

header{
    width: auto;
    margin:20px 0px 0px 0px;
    padding: 0;
}
div.logo {
    float:left;
    padding:0;
    margin: 30px 0px 0px 80px;
}

.nav {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style:none;
    margin:0;
    }

ul.nav{
    padding-right:80px;
}
.nav li{
        padding:30px 40px 0px 40px;
        
}
.nav a{
    text-decoration:none;
    display: inline-block;
    text-align:center;
}
nav li:hover a{
    color: #0065fc;
}
.link_hover:hover{
    border-top: solid 1px;
    color:#0065fc;
}
.link_hover{
    border-top: transparent solid 1px;
    padding:20px 0px 20px 30px;
}



/*POSITION*/

#search{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-left:80px;
}
div.rechercher{
    display:flex;
    justify-content:flex-start;
    
}
button.btn1{
    background-color:#0065fc;
    color:white;
    border-radius: 0px 30px 30px 0px;
    height: 50px;
    font-family: 'Raleway'; 
    width:100px;
    padding:0px 11px 15px 10px;
    border-color:#EEEEEE ;
    border:none;
}
.sous_titre{
    margin-top:0px;
}
input{
    height:46px;
    border:  solid 1px;
    font-family: 'Raleway';
    border-color:#EEEEEE ;
}
.position{
    width:50px;
    height:48px;
    background:#f2f2f2;
    border: solid 1px;
    border-color:#EEEEEE;
    border-radius: 40px 0px 0px 40px;
}
.position i{
    padding:15px 10px 0px 20px;
}

 /* H*/
h3{
    font-size: 17px;
}
h2{
   font-size: 20px;
}
h4{
    font-size: 13px;
}
em{
    font-style:normal;
}

/*FILTRES*/

#filtres{
    display:flex;
}
div.icones{
    display:flex;
    flex-flow:row wrap;
    margin-left:40px;
    padding:0;
}
.titre_filtre{
    padding: 25px 50px 50px 80px;
    }

div.icones i:hover{
    background-color:#0065fc;
    color: white;
}
.icones button{
    height:40px;
    width:45px;
    border-radius:20px;
    background-color:#deebff;
    border:none;
}
.icones button:hover{
    background-color:#0065fc;
}
.fa-search{
    color:#0065fc;
}
.fa-map-marker-alt{
    color:black;
}
#filtres b{
    padding:5px 10px 0px 4px;
}
#filtres p{
    border: solid 1px;
    border-radius: 50px;
    border-color:#EEEEEE;
    margin:30px 20px;
}
.info{
    height:30px;
    width:35px;
    border-radius:20px;
    background-color:white;
    border: solid 1px;
    border-color:#f2f2f2;
    margin: 13px 10px 0px 0px;
}
.fa-info{
    padding:6px 0px 0px 15px;
}
i{
    color:#0065fc;
}
div.logement{
    display:flex;
    margin:0px 0px 20px 80px;
}
.logement h4{
    padding:2px;
}
    /*HEBERGEMENTS*/

#accommodation{
    width:auto;
    margin-left:80px;
}
div.accommodation_container{
    display: flex;
    flex-flow: wrap;
    background-color:#f2f2f2;
    width:65%;
    height:750px;
    border-radius:20px 20px 20px 20px;
    margin-right:1%;
    padding:0px 15px 40px 15px;
}
div.card{
    border-radius: 20px 20px 20px 20px;
    background-color:white;
    width:30%;
    height:275px;
}
.card_text_content{
    display:flex;
    flex-direction:column;
    font-size:17px;
    padding-left:20px;
}
div.card_image{
    width:20%;
    height:170px;
    border-radius: 20px 20px 0px 0px;
    border-color:white;
    padding: 5px;
}  
.etoile1{
    margin-left:20px;
    color:#0065fc;
    padding:0px 0px 5px 0px;
}
.star{
    color:#f2f2f2;
}
.afficher {
    padding: 20px 0px 0px 40px;
    margin-bottom:20px;
    font-weight:800;
}
div.afficher a{
    text-decoration:none;
    color:black;
}

/*POPULAIRES*/

div.populaire{
    display:flex;
    flex-wrap:wrap;
    background-color:#f2f2f2;
    width:550px;
    height:790px;
    border-radius:20px;
}
div.logepopu1 { 
    display:flex;
    flex-direction:row;
    border-radius:20px;
    background-color:white;
    width: 450px;
    height:180px;
    margin:0px 0px 0px 45px;
}

.logepopu1 img{
    width:190px;
    height:170px;
    border-radius: 20px 0px 0px 25px;
    padding:5px 0px 5px 5px;
}
div.note {
    font-size:17px;
    width:600px;
    margin-left:40px;
}

.popu{
    margin:20px 0% 0px 20px;
    width:100%;
}
 .fa-chart-line{
    float:right;
    color:black;
    padding-right:12%;
 }
 .etoile2{
    padding-top:55px;
}


/*ACTIVITES*/

#Activities{ 
    width:auto;
    margin:30px 0px 0px 80px;
    padding:0px;
}
.activites{
    display:flex;
    width:auto;
}
.acti_mar{
    display:flex;
    width:auto;
    padding:0;
    margin-right:5px;
}

.activ{
    margin: 0px 0px 0px 5px;
}

div.activites1{
    background:white;
    border-color:#EEEEEE;
    height: 550px;
    width:425px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin-right:5px;
}
div.activites2{
    background:white;
    border-color:#EEEEEE;
    height:280px;
    width:425px;
    margin:0px 5px 22px 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
div.activites3{
    background:white;
    border-color:#EEEEEE;
    height:245px;
    width:425px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin: 0px 5px 0px 5px;
}
div.activites4{
    background:white;
    border-color:#EEEEEE;
    height:245px;
    width:425px;
    margin: 0px 0px 22px 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
div.activites5{
    background:white;
    border-color:#EEEEEE;
    height:280px;
    width:425px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin: 0px 0px 0px 5px;
}
.acti_mar p{
    padding-left: 20px;
}
.activites1 img{
    height:500px;
    width:425px;
    border-radius: 20px 20px 0px 0px;
    padding:0px;
}
.activites2 img{
    height:230px;
    width:425px;
    border-radius: 20px 20px 0px 0px;
}
.activites3 img{
    height:195px;
    width:425px;
    border-radius: 20px 20px 0px 0px;  
}
.activites4 img{
    height:195px;
    width:425px;
    border-radius: 20px 20px 0px 0px; 
}
.activites5 img{
    height:230px;
    width:425px;
    border-radius: 20px 20px 0px 0px; 
}


/*FOOTER*/

footer{
    display:flex;
    justify-content: start;
    width:100%;
    margin:30px 0px 0px 0px;
    background-color:#f2f2f2;
    padding:0px 0px 0px 80px;
}
footer div{
    padding-right:300px;
}

.note1{
    display:block;
    list-style-type:none;
    padding:0px;
}


/*MEDIA QUERIES IPHONE 8*/

@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
{ 
   
/*HEADER*/

    header{
        border:solid 1px green;
        margin-top:20px;
        padding:0;
  }
    div.logo{
        border: solid 1px;
        float:left;
        margin:30px 0px 0px 10px;
        padding:0;
    }
    
    .nav{
        display:flex;
        flex-flow: column-reverse wrap;
        justify-content: flex-end;
        list-style:none;
        padding: 20px 0px 0px 11a0px;
    }
    

/*POSITION*/

    #search{
        display:flex;
        flex-direction:column;
        width:300px;
        margin:0px 0px 0px 10px;
    }
    button.btn1{
        background-color:#0065fc;
        color:white;
        border-radius:15px;
        height:50px;
        width:50px;
        padding:0px 11px 15px 10px;
        border-color:#EEEEEE;
        margin:0px;
    }
    .fa-search{
        color:white;
        padding-top:15px;
    }
    button.btn1{
        margin-left:-10px;
    }
    .fa-map-marker-alt{
        width:50px;
    }
    span{
        display :none;
    }

    input{
        height:46px;
        width: 200px;
        border-color:#EEEEEE;
        padding-left:20px;
        font-weight:800;
    }
    .position{
        width:50px;
        height:48px;
        background:#f2f2f2;
        border: solid 1px;
        border-color:#EEEEEE;
        border-radius: 10px 0px 0px 10px;
    }
    .position i{
        padding:15px 10px 0px 20px;
    }



/*FILTRES*/
      
    #filtres{
        display:flex;
        flex-wrap: wrap;
    }
    div.icones{
        display:flex;
        flex-flow: row wrap;
        width:auto;
        margin:0px 0px 0px 0px;
        padding:0px;
    }
    #filtres b{
        padding:10px 5px 0px 4px;
    }
    #filtres div p{
         margin:10px 20px 0px 10px;
    }
    .icones p{
        border-radius: 50px;
        border-color:#EEEEEE;
        padding: 0px 5px 0px 0px;
        margin:0px;
    }
    .titre_filtre{
        padding:10px 0px 0px 10px;
    }
    .info{
        height:30px;
        width:35px;
        border-radius:20px;
        background-color:white;
        border: solid 1px;
        border-color:#f2f2f2;
        margin: 13px 10px 0px 0px;
    }
    .fa-info{
        padding:6px 0px 0px 11px;
    }
    i{
        color:#0065fc;
    }
    div.logement{
        display:flex;
        margin:0px 60px 20px 10px;
    }
    .logement h4{
        padding:2px;
    }

    
/*POPULAIRE*/

    div.populaire{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        background-color:#f2f2f2;
        width:100%;
        height:600px;
        border-radius:0px;
        margin-left:0px;
    }
    div.logepopu1 { 
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        border-radius:20px;
        background-color:white;
        width:95%;
        height:160px;
        margin:10px 0px 0px 10px;
        padding:0px;
    }
    .logepopu1 img{
        width:35%;
        height:150px;
        border-radius: 20px 0px 0px 20px;
        margin:0;
        padding: 5px 0px 5px 5px;
    }
    div.note{
        margin-left:-200px;
    }
    .etoile2{
        padding-top: 35px;
    }
/*HEBERGEMENTS*/

    #accommodation{
        display: flex;
        flex-flow: column-reverse;
        margin-left:10px;
    }
    #accommodation h3{
        padding:10px 0px 0px 10px;
    }
    div.accommodation_container{
        background-color:transparent;
        width:100%;
        height:fit-content;
        padding:0px;
        margin:10px 0px 0px 5px;
    }
    div.card{
        border-color:#EEEEEE;
        background:white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 10px 5px 5px 5px #f2f2f2;
        margin: 10px 0px 10px 0px;
        width:95%;
        height:180px;
    }
    
    div.card_image{
        width:97%;
        height:100px;
        border-radius: 20px 20px 0px 0px;
        border-color:white;
        padding: 5px 5px 0px 5px;
        margin:0px;
    }  
    
    div.card_text_content{
        font-size:17px;
        font-weight:800;
        padding:2px 0px 5px 20px;
        margin:0px;
    }
    div.afficher{
        padding:0px 0px 0px 5px;
    }

/*ACTIVITES*/

#Activities{
    margin-left:20px;
}
.activites{
    display: flex;
    flex-direction:column;
}
.acti_mar{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}
div.activites1{
    width:95%;
    height:200px;
    margin: 0px 0px 20px 5px;
}
.activites1 img{
    width:100%;
    height:150px;
}
.activ{
    margin-left:5px;
}
div.activites2, div.activites3,  div.activites4, div.activites5{
    width:95%;
    height:200px;
    margin: 0px 0px 20px 5px;
}
div.activites2 img, div.activites3 img, div.activites4 img, div.activites5 img{
    width: 100%;
    height:150px;
}
    
    
/*FOOTER*/

    footer{
        display:flex;
        flex-flow:wrap;
        height:auto;
        width:91%;
        margin-left:10px;
        padding:20px 0px 0px 20px;;
    }
    footer div{
        width:375px;
        margin-bottom:30px;
    }
    .propos{
        margin:0;
    }
    .note1{
        width:375px;
        display:inline-block;
        list-style-type: none;
        padding:0;
    }
    
}

/*MEDIA QUERY IPAD 3,4 and PRO 9.7"*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {


}