

html, body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}


/*HEADER*/

header{  
    width:auto;
    margin:20px 300px 0px 80px;
}
div.logo {
    float:left;
    padding:0;
    margin: 20px 0px 0px 0px;
}

.nav {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style:none;
}

.nav li{
    padding:30px 30px 0px 40px;
}
.nav a{
    text-decoration:none;
    display: inline-block;
    text-align:center;
}
nav li:hover a{
    color: #0065fc;
}
.link_hover:hover{
    border-top: solid 1px;
    color:#0065fc;
}
.link_hover{
    border-top: transparent solid 1px;
    padding:20px 0px 20px 30px;
    color:black;
}



/*POSITION*/

#search{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-left:80px;
}
div.rechercher{
    display:flex;
    justify-content:flex-start;
    
}
button.btn1{
    background-color:#0065fc;
    color:white;
    border-radius: 0px 30px 30px 0px;
    height: 50px;
    font-family: 'Raleway'; 
    width:100px;
    padding:0px 11px 15px 10px;
    border-color:#EEEEEE ;
    border:none;
}
.sous_titre{
    margin-top:0px;
}
input{
    height:46px;
    border:  solid 1px;
    font-family: 'Raleway';
    border-color:#EEEEEE ;
}
.position{
    width:50px;
    height:48px;
    background:#f2f2f2;
    border: solid 1px;
    border-color:#EEEEEE;
    border-radius: 40px 0px 0px 40px;
}
.position i{
    padding:15px 10px 0px 20px;
}

 /* H*/
h3{
    font-size: 17px;
    font-weight:800;
}
h2{
   font-size: 20px;
}
h4{
    font-size: 13px;
}
em{
    font-style:normal;
}
p {
    font-weight:800;
    
}
/*FILTRES*/

#filtres{
    display:flex;
}
.icones{
    display:flex;
    flex-flow:row wrap;
    margin-left:40px;
    padding:0;
}
.titre_filtre{
    padding: 25px 50px 50px 80px;
    }

.icones i:hover{
    background-color:#0065fc;
    color: white;
}
.icones button{
    height:40px;
    width:45px;
    border-radius:20px;
    background-color:#deebff;
    border:none;
}
.icones button:hover{
    background-color:#0065fc;
}
.fa-search{
    color:#0065fc;
}
.fa-map-marker-alt{
    color:black;
}
#filtres b{
    padding:5px 10px 0px 4px;
}
#filtres p{
    border: solid 1px;
    border-radius: 50px;
    border-color:#EEEEEE;
    margin:30px 20px;
}
.info{
    height:30px;
    width:35px;
    border-radius:20px;
    background-color:white;
    border: solid 1px;
    border-color:#f2f2f2;
    margin: 13px 10px 0px 0px;
}
.fa-info{
    padding:6px 0px 0px 15px;
}
i{
    color:#0065fc;
}
.logement{
    display:flex;
    margin:0px 0px 20px 80px;
}
.logement h4{
    padding:2px;
}
    /*HEBERGEMENTS*/

#accommodation{
    display:flex;
    margin: 0px 200px 0px 80px;
    width:auto;
}
#accommodation_container{
    display:flex;
    flex-flow: wrap;
    background-color:#f2f2f2;
    width:65%;
    border-radius:20px 20px 20px 20px;
    padding:0px 30px 0px 20px;
    margin-right:1%;
}
.heber_mar{
    padding: 20px 800px 0px 30px;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    background-color:white;
    width:30%;
    height:275px;
    margin:0px 0px 20px 30px;
}
.card_text_content{
    width: fit-content;
    font-size:17px;
    padding:0px 0px 0px 20px;
    margin:0px;
}
.card_text_content p{
    line-height:1px;
}
.card_image img{
    width:97%;
    height:170px;
    border-radius: 20px 20px 0px 0px;
    border-color:white;
    padding: 5px 5px 0px 5px;
}  
.etoile1{
    margin-left:20px;
    color:#0065fc;
    padding:5px 0px 5px 0px;
}
.star{
    color:#f2f2f2;
}
.afficher {
    font-weight:800;
    margin:10px 0px 30px 30px ;
}
.afficher a{
    text-decoration:none;
    color:black;
}

/*POPULAIRES*/

.populaire{
    display:flex;
    flex-direction:column; 
    background-color:#f2f2f2;
    width:25%;
    border-radius:20px;
}
.logepopu1 { 
    display:flex;
    flex-wrap: row wrap;
    border-radius:20px;
    background-color:white;
    width:90%;
    height:170px;
    margin: 20px 0px 10px 20px;
}

.populaire_image img{
    width:160px;
    height:160px;
    border-radius: 20px 0px 0px 25px;
    padding:5px 10px 5px 5px;
}
.note {
    width:auto;
    display: flex;
    flex-direction:column;
    font-size:17px;
    height:160px;
}
.note em{
    line-height: 1px;
}
.popu{
    margin:35px 0px 0px 30px;
    width:auto;
}
 .fa-chart-line{
    float:right;
    color:black;
    padding-right:9%;
 }
 .etoile2{
    padding-top:60px;
}


/*ACTIVITES*/

#Activities{ 
    width:auto;
    margin:30px 200px 0px 80px;
    padding:0px;
}
.activites{
    display:flex;
    width:auto;
}
.acti_mar{
    display:flex;
    width:47%;
    padding:0;
    margin:0;
}
.activ{
    width:49%;
    margin: 0px 0px 0px 5px;
}
.activites1{
    background:white;
    border-color:#EEEEEE;
    height: 550px;
    width:49%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin-right:5px;
}
.activites2{
    background:white;
    border-color:#EEEEEE;
    height:280px;
    width:100%;
    margin:0px 0px 22px 0px;
    padding:0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
.activites3{
    background:white;
    border-color:#EEEEEE;
    height:245px;
    width:100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin:0;
    padding:0;
}
.activites4{
    background:white;
    border-color:#EEEEEE;
    height:245px;
    width:100%;
    margin: 0px 0px 22px 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
.activites5{
    background:white;
    border-color:#EEEEEE;
    height:280px;
    width:100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin: 0px 0px 0px 5px;
}
.acti_mar p{
    padding-left: 20px;
}
.activites1 img{
    height:500px;
    width:100%;
    border-radius: 20px 20px 0px 0px;
    padding:0px;
}
.activites2 img{
    height:230px;
    width:100%;
    border-radius: 20px 20px 0px 0px;
}
.activites3 img{
    height:195px;
    width:100%;
    border-radius: 20px 20px 0px 0px;  
}
.activites4 img{
    height:195px;
    width:100%;
    border-radius: 20px 20px 0px 0px; 
}
.activites5 img{
    height:230px;
    width:100%;
    border-radius: 20px 20px 0px 0px; 
}


/*FOOTER*/

footer{
    display:flex;
    width:auto;
    margin:30px 200px 0px 0px;
    background-color:#f2f2f2;
    padding:0px 0px 0px 80px;
}
.footer_text{
    display:flex;
    flex-direction:column;
    margin-right:20%;
    
}
.note1{
    list-style-type: none;
    padding:0;
}

/*MEDIA QUERIES IPHONE 8*/

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation: portrait)
{ 
   
/*HEADER*/

   header{
       border: solid 1px;
       width:80%;
       margin-right:100px;
   }
    

/*POSITION*/

    #search{
        display:flex;
        flex-direction:column;
        width:300px;
        margin:0px 0px 0px 10px;
    }
    button.btn1{
        background-color:#0065fc;
        color:white;
        border-radius:15px;
        height:50px;
        width:50px;
        padding:0px 11px 15px 10px;
        border-color:#EEEEEE;
        margin:0px;
    }
    .fa-search{
        color:white;
        padding-top:15px;
    }
    button.btn1{
        margin-left:-10px;
    }
    .fa-map-marker-alt{
        width:50px;
    }
    span{
        display :none;
    }

    input{
        height:46px;
        width: 200px;
        border-color:#EEEEEE;
        padding-left:20px;
        font-weight:800;
    }
    .position{
        width:50px;
        height:48px;
        background:#f2f2f2;
        border: solid 1px;
        border-color:#EEEEEE;
        border-radius: 10px 0px 0px 10px;
    }
    .position i{
        padding:15px 10px 0px 20px;
    }



/*FILTRES*/
      
    #filtres{
        display:flex;
        flex-wrap: wrap;
    }
    div.icones{
        display:flex;
        flex-flow: row wrap;
        width:auto;
        margin:0px 0px 0px 0px;
        padding:0px;
    }
    #filtres b{
        padding:10px 5px 0px 4px;
    }
    #filtres div p{
         margin:10px 20px 0px 10px;
    }
    .icones p{
        border-radius: 50px;
        border-color:#EEEEEE;
        padding: 0px 5px 0px 0px;
        margin:0px;
    }
    .titre_filtre{
        padding:10px 0px 0px 10px;
    }
    .info{
        height:30px;
        width:35px;
        border-radius:20px;
        background-color:white;
        border: solid 1px;
        border-color:#f2f2f2;
        margin: 13px 10px 0px 0px;
    }
    .fa-info{
        padding:6px 0px 0px 11px;
    }
    i{
        color:#0065fc;
    }
    div.logement{
        display:flex;
        margin:0px 60px 20px 10px;
    }
    .logement h4{
        padding:2px;
    }

    
/*POPULAIRE*/

    .populaire{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        background-color:#f2f2f2;
        width:100%;
        height:600px;
        border-radius:0px;
        margin-left:0px;
    }
    div.logepopu1 { 
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        border-radius:20px;
        background-color:white;
        width:90%;
        height:160px;
        margin:10px 0px 0px 10px;
        padding:0px;
    }
    .logepopu1 img{
        width:35%;
        height:150px;
        border-radius: 20px 0px 0px 20px;
        margin:0;
        padding: 5px 0px 5px 5px;
    }
    .note{
        margin-left:-200px;
    }
    .etoile2{
        padding-top: 35px;
    }
/*HEBERGEMENTS*/

    #accommodation{
        display: flex;
        flex-flow: column-reverse;
        margin-left:10px;
        width:100%;
    }
    #accommodation h3{
        padding:10px 0px 0px 10px;
    }
    #accommodation_container{
        display: flex;
        flex-direction:column;
        background-color:transparent;
        padding:0px;
        margin:10px 0px 0px 5px;
        width:90%;
    }
    div.card{
        border-color:#EEEEEE;
        background:white;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 10px 5px 5px 5px #f2f2f2;
        margin: 10px 0px 10px 5px;
        width:98%;
        height:200px;
    }
    
    div.card_image img{
        width:97%;
        height:100px;
        border-radius: 20px 20px 0px 0px;
        border-color:white;
        padding: 5px 5px 0px 5px;
        margin:0px;
    }  
    
    div.card_text_content{
        font-size:17px;
        font-weight:800;
        padding:2px 0px 5px 20px;
        margin:0px;
    }
    div.afficher{
        margin-left:5px;
    }

/*ACTIVITES*/

    #Activities{
        margin-left:20px;
    }
    .activites{
        display: flex;
        flex-direction:column;
    }
    .acti_mar{
        display:flex;
        flex-direction:column;
        margin-bottom:20px;
        width:200%;
    }   
    div.activites1{
        width:100%;
        height:200px;
        margin: 0px 0px 20px 5px;
    }
    .activites1 img{
        width:100%;
        height:150px;
    }
    .activ{
        margin-left:5px;
        width:100%;
    }
    div.activites2, div.activites3,  div.activites4, div.activites5{
        width:98%;
        height:200px;
        margin: 0px 0px 20px 5px;
    }
    div.activites2 img, div.activites3 img, div.activites4 img, div.activites5 img{
        width: 100%;
        height:150px;
    }
    
    
/*FOOTER*/

footer{
    display:flex;
    flex-flow:wrap;
    height:auto;
    width:91%;
    margin-left:10px;
    padding:20px 0px 0px 20px;;
}
footer div{
    width:375px;
    margin-bottom:30px;
}
.note1{
    width:375px;
    display:inline-block;
    list-style-type: none;
    padding:0;
}
    
}

/*MEDIA QUERY IPAD 3,4 and PRO 9.7"*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

/*HEADER*/

html, body{
    margin:0;
}
header{
    display:flex;
    width:110%;
    
}
nav{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type:none;
    width:100%;
   
}
.logo{
    padding-top:10px;
    margin-top: 5px;
    height:40px;
}

/*FILTRES*/

#filtres{
    display:flex;
    width:100%;
    margin-left:80px;
    padding:0px;
}
.titre_filtre{
    padding: 25px 0px 0px 0px;
    }
#filtres p{
    border: solid 1px;
    border-radius: 50px;
    border-color:#EEEEEE;
    margin:30px 5px 0px 5px;
    }

    /*POPULAIRE*/

.populaire{
    display:flex;
    flex-flow: row wrap;
    width:180%;
    padding-bottom:30px;
}
.logepopu1{
    width:40%;
    margin:30px 40px 0px 40px;
}
.popu{
    margin:10px 0px 0px 20px;
    height:20px;
    width:170%;
}
    /*HEBERGEMENTS*/

#accommodation{
    display:flex;
    flex-direction:column-reverse;
}
#accommodation_container{
    width:190%;
    background-color:transparent;
    padding:0;
    margin:0;
}
.card{
    padding:0;
    margin:0px 15px 0px 0px;
}
.heber_mar{
    padding: 20px 0px 0px 00px;
    width: 100%;
    height:20px;
}
.afficher{
    margin:10px 0px 0px 0px;
}


    /*ACTIVITES*/


.activites{
     display: flex;
    flex-direction:column;
    }
.acti_mar{
    display:flex;
    margin-bottom:20px;
     width:180%;
    }  
footer{
    width:120%;
}

}

