
body, html{
    font-family: 'Raleway', sans-serif;
}
#all_block{
    width:auto;
}

/*HEADER*/

header{
    width: auto;
    margin:50px 0px 0px 0px;
    height:80px;
    padding: 0px;
}
div.logo {
    float:left;
    padding:20px 0px 0px 0px;
    margin: 0px 0px 0px 80px;
}
nav {
    display:flex;
    flex-direction:row-reverse;
    font-size:15px;
    }
.nav li{
    display:flex;
    flex-wrap: flex-end;
    list-style-type: none;
    display:inline-block;
    margin-right:80px;
    padding: 20px 10px 10px 10px;

}
.nav a{
    text-decoration:none;
    display: inline-block;
    text-align:center;
}
nav li:hover a{
    color: #0065fc;
}
.heberger:hover{
    border-top: solid 1px;
    color:#0065fc;
}
.activity:hover{
    border-top:1px solid;
    color: #0065FC;
}
.inscription:hover{
    border-top:1px solid;
    color: #0065FC;
}
.inscription a{
    color:#0065Fc;
    font-weight:800;
}
.heberger a, .activity a{
    color:black;
}


/*POSITION*/

#search{
    display:flex;
    flex-direction:column;
    margin:0px 0px 0px 80px;
}
div.rechercher{
    display:flex;
    justify-content:flex-start;
}
button.btn1{
    background-color:#0065fc;
    color:white;
    border-radius: 0px 30px 30px 0px;
    height: 50px;
    font-family: 'Raleway'; 
    width:100px;
    padding:0px 11px 15px 10px;
    border-color:#EEEEEE ;
}
.sous_titre{
    margin-top:0px;
}
input{
    height:46px;
    border:  solid 1px;
    font-family: 'Raleway';
    border-color:#EEEEEE ;
}
.position{
    width:50px;
    height:48px;
    background:#f2f2f2;
    border: solid 1px;
    border-color:#EEEEEE;
    border-radius: 40px 0px 0px 40px;
}
.position i{
    padding:15px 10px 0px 20px;
}

 /* H*/
h3{
    font-size: 17px;
}
h2{
   font-size: 20px;
}
h4{
    font-size: 13px;
}

/*FILTRES*/

#filtres{
    display:flex;
    margin-top:10px;
}
div.icones{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:40px;
}
.titre_filtre{
    padding: 25px 50px 50px 40px;
    }

div.icones i:hover{
    background-color:#0065fc;
    color: white;
}
button{
    height:40px;
    width:45px;
    border-radius:20px;
    background-color:#deebff;
    border:none;
}
button:hover{
    background-color:#0065fc;
}
.fa-search{
    color:#0065fc;
}
.fa-map-marker-alt{
    color:black;
}
#filtres b{
    padding:5px 10px 0px 4px;
}
#filtres p{
    border: solid 1px;
    border-radius: 50px;
    border-color:#EEEEEE;
    margin:30px 20px;
}
.info{
    height:30px;
    width:35px;
    border-radius:20px;
    background-color:white;
    border: solid 1px;
    border-color:#f2f2f2;
    margin: 13px 10px 0px 0px;
}
.fa-info{
    padding:6px 0px 0px 15px;
}
i{
    color:#0065fc;
}
div.logement{
    display:flex;
    margin:0px 0px 20px 80px;
}
.logement h4{
    padding:2px;
}
    /*HEBERGEMENTS*/

#accommodation{
    display:flex;
    flex-wrap:wrap;
    margin-left:80px;
}
div.hebergements{
    background-color:#f2f2f2;
    width:auto;
    height:750px;
    border-radius:20px 20px 20px 20px;
    margin-right:1%;
    padding:0px 15px 40px 15px;
}
div.hebergements1 {
    display:flex;
    flex-direction:column;
    border-radius: 20px 20px 20px 20px;
    background-color:white;
    margin: 10px 0px 20px 10px;
    width:370px;
    height:275px;
}
.row{
    display:flex;
    margin-left:1%;
}
div.loge1 p{
    border:none;
    font-size:17px;
    font-weight:800;
    padding-left:20px;
}
div.loge1 img{
    width:97%;
    height:160px;
    border-radius: 20px 20px 0px 0px;
    border-color:white;
    padding: 5px;
}  
#accommodation h3{
    padding-top:20px;
}
.hebergements em{
    margin-left:20px;
}
.hebergements h3{
    padding:20px 40px;
}
.etoile1{
    margin-left:20px;
    color:#0065fc;
    padding:0px 0px 5px 0px ;
}
.star{
    color:#f2f2f2;
}
.afficher {
    padding: 20px 0px 0px 40px;
    margin-bottom:20px;
    font-weight:800;
}
div .afficher a{
    text-decoration:none;
    color:black;
}

/*POPULAIRES*/

div.populaire{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color:#f2f2f2;
    width:550px;
    height:790px;
    border-radius:20px;
}
div.logepopu1 { 
    display:flex;
    flex-direction:row;
    border-radius:20px;
    background-color:white;
    width: 450px;
    height:180px;
    margin:0px 0px 0px 45px;
}

.logepopu1 img{
    width:190px;
    height:170px;
    border-radius: 20px 0px 0px 25px;
    padding:5px 0px 5px 5px;
}
div.note {
    font-size:17px;
    width:600px;
    margin-left:40px;
}
.popu{
    margin:20px 0% 0px 20px;
    width:100%;
}
 .fa-chart-line{
    float:right;
    color:black;
    padding-right:12%;
 }
 .etoile2{
    padding-top:55px;
}

/*ACTIVITES*/

#Activities{
    display:flex;
    flex-wrap:wrap;
    width: auto;
    margin:30px 0px 0px 80px;
    border:none;
}
div.activites{
    display:flex;
    width:auto;
    height:600px;
    margin-right:50px;
}
.acti_mar{
    display:flex;
}
.activ{
    margin: 0px 0px 0px 10px;
}

div.activites1{
    background:white;
    border-color:#EEEEEE;
    height: 550px;
    width:425px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
div.activites2{
    background:white;
    border-color:#EEEEEE;
    height:280px;
    width:425px;
    margin:0px 10px 22px 10px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
div.activites3{
    background:white;
    border-color:#EEEEEE;
    height:245px;
    width:425px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
    margin: 0px 0px 0px 10px;
}
div.activites4{
    background:white;
    border-color:#EEEEEE;
    height:245px;
    width:425px;
    margin-bottom:22px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
div.activites5{
    background:white;
    border-color:#EEEEEE;
    height:280px;
    width:425px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #f2f2f2;
}
.acti_mar p{
    border:none;
    padding-left: 20px;
}
.activites1 img{
    height:500px;
    width:425px;
    border-radius: 20px 20px 0px 0px;
    padding:0px;
}
.activites2 img{
    height:230px;
    width:425px;
    border-radius: 20px 20px 0px 0px;
}
.activites3 img{
    height:195px;
    width:425px;
    border-radius: 20px 20px 0px 0px;  
}
.activites4 img{
    height:195px;
    width:425px;
    border-radius: 20px 20px 0px 0px; 
}
.activites5 img{
    height:230px;
    width:425px;
    border-radius: 20px 20px 0px 0px; 
}


/*FOOTER*/

footer{
    display:flex;
    margin:30px 0px 0px 0px;
    background-color:#f2f2f2;
    width:auto;
    padding:0px 0px 0px 0px;
}
div.foot{
    display:flex;
    flex-direction: column;
    margin: 0px 0px 0px 400px;
}
div.foot1{
    display:flex;
    flex-direction:column;
    padding:0px;
    margin: 0px 0px 0px 80px;
}
.note1{
    display:block;
    list-style-type:none;
    padding:0px;
}


/*MEDIA QUERIES*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
{ 
    /*HEADER*/
    #all_block{
        width:auto;
        margin:0;
        padding:0;
    }
    header{
        border:solid 1px;
        margin:0px 0px 40px 0px;
        padding:0;
        height:70px;
        width:375px;
    }
    div.logo{
        margin:0px 0px 0px 10px;
    }
    .logo{
        border: solid 1px;
        margin:0;
        padding:0;
    }
    nav{
        flex-flow: row-reverse wrap;
        border: solid 1px;
    }
    .nav li{
        border: solid 1px;
        display: flex;
        list-style-type: none;
        display:inline-block;
        margin:0;
        padding:0;
    }

    /*POSITION*/

    #search{
        border:solid 1px;
        display:flex;
        flex-direction:column;
        width:300px;
        margin:0px 0px 0px 10px;
    }
    button.btn1{
        background-color:#0065fc;
        color:white;
        border-radius:10px 10px 10px 10px;
        height:50px;
        width:50px;
        padding:0px 11px 15px 10px;
        border-color:#EEEEEE;
        margin:0px;
    }
     .fa-search{
        color:white;
        padding-top:15px;
    }
    span{
        display :none;
    }

    input{
        height:46px;
        border:solid 1px;
        border-color:#EEEEEE;
        padding-left:20px;
        font-weight:800
    }
    .position{
        width:50px;
        height:48px;
        background:#f2f2f2;
        border: solid 1px;
        border-color:#EEEEEE;
        border-radius: 10px 0px 0px 10px;
    }
    .position i{
        padding:15px 10px 0px 20px;
    }


    /*FILTRES*/

      
    #filtres{
        border: solid 1px;
        display:flex;
        flex-wrap:wrap;
        margin:0;
        padding:0;
    }
    div.icones{
        width:auto;
        border: solid 1px;
    }
    #filtres b{
        padding:10px 5px 0px 4px;
    }
    #filtres p{
        display:flex;
        flex-flow: row wrap;
        border: solid 1px;
        border-radius: 50px;
        border-color:#EEEEEE;
        padding: 0px 5px 0px 0px;
        width:fit-content;
    }
    .info{
        height:30px;
        width:35px;
        border-radius:20px;
        background-color:white;
        border: solid 1px;
        border-color:#f2f2f2;
        margin: 13px 10px 0px 0px;
    }
    .fa-info{
        padding:6px 0px 0px 11px;
    }
    i{
        color:#0065fc;
    }
    div.logement{
        display:flex;
        margin:0px 60px 20px 0px;
    }
    .logement h4{
        padding:2px;
    }
}
